##Assignment 2 – Data Wrangling with pandas

#### Index, assign, groupby, aggregate, sort, logic, chaining

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 20)

In [19]:
dt = pd.read_csv(
    "https://raw.githubusercontent.com/Alissa-Ouspen/data201_alissa/refs/heads/main/datasets/housing.csv")
pd.options.display.float_format = '{:.2f}'.format
dt.head(10)

   listing_id    price    size  bedrooms neighborhood          type
0      100001  1500000 1280.74      1.00       Suburb     Townhouse
1      100002  1500000 1406.28      2.00       Uptown  SingleFamily
2      100003  1500000 4146.83      6.00       Suburb   MultiFamily
3      100004  1500000 3946.60      6.00       Suburb  SingleFamily
4      100005  1500000 1243.75      1.00     Downtown   MultiFamily
5      100006  1500000     NaN      4.00   Waterfront  SingleFamily
6      100007  1500000 1404.98      1.00       Suburb  SingleFamily
7      100008  1500000  838.95      1.00       Suburb         Condo
8      100009  1500000 1650.93      1.00     Downtown  SingleFamily
9      100010  1500000 1153.73       NaN       Uptown     Townhouse

In [4]:
#dt.dropna(subset = ["size"])   # not needed

     listing_id    price    size  bedrooms neighborhood          type
0        100001  1500000 1280.74      1.00       Suburb     Townhouse
1        100002  1500000 1406.28      2.00       Uptown  SingleFamily
2        100003  1500000 4146.83      6.00       Suburb   MultiFamily
3        100004  1500000 3946.60      6.00       Suburb  SingleFamily
4        100005  1500000 1243.75      1.00     Downtown   MultiFamily
..          ...      ...     ...       ...          ...           ...
595      100596  1500000 1443.24      3.00      Midtown         Condo
596      100597  1500000 1083.91      2.00       Suburb         Condo
597      100598  1500000 1600.13      1.00       Suburb  SingleFamily
598      100599  1500000 1248.22      1.00   Waterfront         Condo
599      100600  1500000 1450.98       NaN       Suburb  SingleFamily

[547 rows x 6 columns]

In [21]:
ds = (dt[(dt["price"] > 250000) & (dt["size"] > 1000)]
      .assign(ppsqft = dt["price"] / dt["size"])
      .groupby("neighborhood")    # must be grouped first
      .agg(
        mean_ppsqft = ("ppsqft", "mean"),
        median_ppsqft = ("ppsqft", "median"),
        count = ("ppsqft", "count")
      )
      .sort_values(by = ["neighborhood"], ascending = True)
)
ds

              mean_ppsqft  median_ppsqft  count
neighborhood
Downtown           977.82        1001.56     99
Midtown            921.14         901.99     92
Suburb             861.92         836.88    157
Uptown             860.94         843.65     99
Waterfront         849.51         792.66     48