## Assignment 2 Part B:  
Data Wrangling with R dplyr

In [3]:

df <- read.csv("https://raw.githubusercontent.com/Alissa-Ouspen/data201_alissa/refs/heads/main/datasets/housing.csv")
str(df)  # structure

'data.frame':	600 obs. of  6 variables:
 $ listing_id  : int  100001 100002 100003 100004 100005 100006 100007 100008 100009 100010 ...
 $ price       : int  1500000 1500000 1500000 1500000 1500000 1500000 1500000 1500000 1500000 1500000 ...
 $ size        : num  1281 1406 4147 3947 1244 ...
 $ bedrooms    : num  1 2 6 6 1 4 1 1 1 NA ...
 $ neighborhood: chr  "Suburb" "Uptown" "Suburb" "Suburb" ...
 $ type        : chr  "Townhouse" "SingleFamily" "MultiFamily" "SingleFamily" ...

In [4]:
#if ("vctrs" %in% .packages()) detach("package:vctrs", unload = TRUE)
#install.packages("vctrs", repos = "http://cran.us.r-project.org")
install.packages("dplyr", repos = "http://cran.us.r-project.org", dependencies = TRUE)
library(dplyr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘Lahman’, ‘RSQLite’

In [5]:
colnames(df)

[1] "listing_id"   "price"        "size"         "bedrooms"     "neighborhood"
[6] "type"

In [8]:
head(df, 10) %>% mutate_if(is.numeric, ~round(., 2))

   listing_id price   size    bedrooms neighborhood type
1  100001     1500000 1280.74  1       Suburb       Townhouse
2  100002     1500000 1406.28  2       Uptown       SingleFamily
3  100003     1500000 4146.83  6       Suburb       MultiFamily
4  100004     1500000 3946.60  6       Suburb       SingleFamily
5  100005     1500000 1243.75  1       Downtown     MultiFamily
6  100006     1500000      NA  4       Waterfront   SingleFamily
7  100007     1500000 1404.98  1       Suburb       SingleFamily
8  100008     1500000  838.95  1       Suburb       Condo
9  100009     1500000 1650.93  1       Downtown     SingleFamily
10 100010     1500000 1153.73 NA       Uptown       Townhouse

In [17]:
df |>
  filter(price > 250000 & size > 1000) |>
  mutate(ppsqft = price / size) |>
  group_by(neighborhood) |>
  summarise(mean_ppsqft = mean(ppsqft),
        median_ppsqft = median(ppsqft),
        count = n()) |>
  mutate_if(is.numeric, ~round(., 2)) |>
  arrange(neighborhood)

  neighborhood mean_ppsqft median_ppsqft count
1 Downtown     977.82      1001.56        99
2 Midtown      921.14       901.99        92
3 Suburb       861.92       836.88       157
4 Uptown       860.94       843.65        99
5 Waterfront   849.51       792.66        48